/* src/App.css */
.App {
  text-align: center;
}

header {
  background: #282c34;
  padding: 20px;
  color: white;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
